.slider {
  position: relative;
  width: inherit;
  /* Dont like this would prefer it to be the height of the smallest image */
  height: 50vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: black;
  border-radius: 25px;
  border: 2px solid black;
}

.slide {
  min-width: 100%;
  transition: 0.5s;
  overflow: hidden;
}

.navButton {
  font-size: 1.3rem;
  background: none;
  transition: 0.5s;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.369);
  cursor: pointer;
  color: rgba(245, 245, 245, 0.369);
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  border: none;
  outline: none;
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  border: none;
  outline: none;
}

.slide > img {
  object-fit: cover;
  /* border: 4px solid red; */
}
